{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> deepdreams </title>

  <!-- Zurb Foundation -->
  <link rel="stylesheet" href="{% static "foundation/css/foundation.css" %}" />

  <link rel="stylesheet" href="{% static "css/main.css" %}" />  

</head>

<body>
  <header>
    <div class="row">
      <div class="large-4 columns">
          <a href="/" class="logo thin">
	    <!-- <img src="{% static "/static/img/logo_128x128.png" %}"/> -->
	    deep<span>dreams</span></a>
      </div>
      
      <div class="large-8 columns">
        <nav>
          <ul>
            <li> Gallery </li>
            <li> About </li>
            <li> digitalmind </li>
          <ul>
        </nav>
      </div>

    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer>  
    <div class="row">  
    </div>
  </footer>  
</body>
</html>
